@import 'shared';

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Gilroy-Regular.woff2') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

p { margin-bottom: 0; }

ul {
  list-style: none;
  padding: 0 0.5rem;

  li { max-width: 380px; }
}

button[type=submit] {
  @extend .bg-lightPurple;

  border-radius: 0 0.25rem 0;
  border: none;

  &:hover,
  &:focus {
    @extend .bg-darkPurple;

    box-shadow: none;
  }
}

.home {
  @extend .flex-Center;

  flex-direction: column;
  min-height: 100vh;
  background-color: $offWhite;
  color: $purple;

  &__banner {
    margin-bottom: 1.5rem;
    text-align: center;

    h1,
    p {
      margin-bottom: 1rem;
    }
  }

  &__btn {
    width: 250px;
    margin-bottom: 1rem;
    border: 1px solid $purple;
    border-radius: 20rem;

    &:first-of-type {
      @extend .bg-lightPurple;
    }

    &:hover {
      @include transform;
    }
  }
}

header {
  @extend .flex-Center;

  height: 8vh;
  background-color: $offWhite;
}

.theme {
  @extend .flex-Center;

  justify-content: space-between;
  margin-bottom: 0;

  a {
    color: $purple;

    span {
      margin-right: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
    }

    &:hover {
      font-weight: bold;
    }
  }

  &__heading {
    color: $purple;
    font-size: calc(1.75rem + 0.6vw);
  }
}

.theme__heading,
.form-label {
  font-weight: bold;
}

.wrap-page {
  height: 82vh;
  overflow-y: scroll;

  form {
    display: flex;
    justify-content: center;
  }

  h3 {
    margin: 1rem 0;
    text-align: center;
  }

  .btn:focus {
    box-shadow: 0 0 0 0.25rem $offWhite;
  }
}

@media screen and (min-width: 1000px) {
  .wrap-page form {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  padding-top: 2rem;
  border: none;
  border-radius: 0;
  text-align: center;

  &-title {
    color: $light-purple;
    font-size: 1.4rem;
    margin-bottom: 0.85rem;
  }

  p {
    @extend .flex-Center;

    font-size: $fz-lg;
    text-transform: uppercase;
    color: $purple;
  }
}

.lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.85rem;
  max-width: 1050px;
  margin: 5rem auto 1.5rem;
  padding: 0 1.2rem;

  h4 {
    grid-column: 1 / -1;
    margin-bottom: 1.5rem;
    letter-spacing: -0.5px;
    text-align: start;
  }

  li {
    padding: 0;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    background-color: $offWhite;
    border-radius: 0 0.25rem 0;

    &:hover {
      box-shadow: 0 0.35rem 0.75rem $light-purple;
    }
  }
}

.list {
  @extend .flex-Between;

  flex-direction: column;
  align-items: center;
  position: relative;
  color: $purple;

  &__icon {
    font-size: calc(1.355rem + 0.9vw);
  }

  &__btn {
    min-width: 170px;
    border-radius: 0 0.25rem 0;
    font-weight: 700;
    font-size: $fz-md;

    @extend .bg-lightPurple;

    &:hover {
      @extend .bg-darkPurple;
    }

    & + .list__btn {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 0;
      margin-top: -16px;
    }
  }
}

.tracker {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;

  h3 {
    font-weight: 600;
    color: $purple;
  }
}

.actions {
  @extend .flex-Between;

  margin-bottom: 1rem;

  .btn-sm {
    display: flex;
    align-items: center;

    @extend .bg-lightPurple;

    letter-spacing: -0.8px;

    &:hover {
      @extend .bg-darkPurple;
    }
  }
}

.outcome {
  padding: 1rem;

  h3 {
    color: $purple;
    letter-spacing: -0.75px;
    font-weight: 600;
  }

  div {
    margin: 1rem auto;
  }
}

.user {
  section {
    height: 50%;
    overflow-y: scroll;
  }

  &__info {
    @extend .flex-Center;
    @extend .bg-darkPurple;

    small {
      color: $light-purple;
    }
  }

  &__avatar {
    border: 0.5rem solid $light-purple;
    border-radius: 100%;
    font-size: 9rem;
  }

  &__editor {
    margin: 0;
    padding-top: 2rem;
    background-color: $smoke;

    h4 {
      @extend .flex-Center;

      color: $light-purple;
      text-transform: uppercase;
      text-align: center;
    }

    form {
      flex-direction: column;

      div,
      input {
        width: 100%;
      }

      label {
        color: $purple;
      }
    }
  }
}

.navigate {
  position: absolute;
  right: 0;
  bottom: 1.35rem;
}

.offcanvas-header {
  @extend .bg-lightPurple;
}

.offcanvas-body {
  @extend .bg-darkPurple;

  padding-top: 0.45rem;

  * {
    @extend .bg-darkPurple;
  }
}

.nav-link {
  text-transform: uppercase;
  font-size: 1.25rem;

  &:hover {
    border: 1px solid $smoke;
    font-size: $fz-xl;
  }

  &:hover,
  &:focus {
    color: $smoke;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  .lists li {
    background-color: $black;
  }

  .home {
    background-color: transparent;

    &__btn,
    &__btn:hover {
      color: $offWhite;
    }

    &__btn:hover {
      background-color: $purple;
    }
  }

  header {
    background-color: $purple;
    border: $dark-border;
  }

  .mw-md,
  .mw-md a,
  .theme__heading,
  .theme a,
  .outcome h3,
  .tracker h3 {
    color: $offWhite;
  }

  .card {
    background-color: transparent;

    &-title,
    p {
      color: $offWhite;
    }
  }

  .lists li {
    border: 1px solid $light-purple;
  }

  h1,
  .list {
    color: $light-purple;
  }

  .user__editor {
    background-color: transparent;

    form label {
      color: $light-purple;
    }
  }
}
