@import 'shared';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontGilroy;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: $smoke;
}

#root {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
  margin: 0 0 10px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

p { margin: 0 0 10px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li { max-width: 380px; }
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid $offWhite;
  font-size: $fz-lg;
  border-radius: 0;
  outline: 0;

  &::placeholder {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    background-color: $offWhite;

    &::placeholder {
      opacity: 0.5;
    }
  }
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: $purple;
}

button {
  display: inline-block;
  font-size: $fz-lg;
  font-weight: 700;
  border-radius: 50px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
}

button[type=submit] {
  @extend .bg-lightPurple;

  border: none;

  &:hover,
  &:focus {
    @extend .bg-darkPurple;

    box-shadow: none;
  }
}

.container {
  @extend .flex-Center;

  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 30px;
}

.access {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: white;

  h3 {
    font-size: calc(1.5rem + 0.2vh);
    margin-bottom: 1.7rem;
  }

  &__banner {
    min-height: 120px;
    padding: 40px 35px;
    color: $purple;

    h2 { font-size: calc(2rem + 0.2vh); }

    p {
      font-size: 0.9rem;
      line-height: 1.3;
      margin-bottom: 0;
    }
  }

  &__form {
    padding: 40px 35px;

    a {
      display: inline-block;
      color: $purple;
      text-decoration: underline;
      width: 100%;
      text-align: end;
    }
  }
}

.inputGroup + .inputGroup {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.login {
  background-color: $offWhite;
}

.signup {
  background-color: $purple;
  color: $offWhite;
}

.wrapper {
  padding-left: 125px;

  main {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100vh;
    padding: 60px;
  }
}

.nav {
  @extend .flex-Between;

  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 125px;
  background-color: $purple;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 99;

  & > * {
    width: 100%;
  }

  &__brand {
    color: $smoke;
    margin-top: 30px;
    height: 70px;
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1);

    svg {
      width: 50px;
    }

    &:hover svg {
      color: $light-purple;
    }
  }
}

.nav__menu {
  display: flex;
  flex-direction: column;

  li {
    color: $offWhite;
    font-size: 11px;

    a {
      display: block;
      padding: 15px 0;
      border-left: 5px solid transparent;
      width: 100%;
      height: 100%;

      &:hover,
      &:focus,
      &.active {
        color: $smoke;
        background-color: $light-purple;
        border-left: 5px solid $smoke;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper main {
    padding: 60px 50px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-left: 0;
    padding-bottom: 50px;

    main {
      padding: 50px 40px;

      h2 {
        text-align: center;
      }
    }
  }

  .nav {
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 70px;
    height: 70px;
    flex-direction: row;

    & > * {
      height: 100%;
    }

    &__brand {
      display: none;
    }

    &__menu {
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;

      li {
        flex-grow: 1;
        flex-basis: 100%;
        height: 100%;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0;
          border-left: 0;
          border-top: 3px solid transparent;

          &:hover,
          &:focus,
          &.active {
            border-left: 0;
            border-top: 3px solid $smoke;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .wrapper main {
    padding: 30px 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .access {
    max-width: 700px;
    min-height: 465px;
    display: flex;

    &--xxl {
      flex-direction: row-reverse;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }

    &__banner,
    &__form.signup {
      align-items: center;
    }
  }
}

.theme {
  @extend .flex-Center;

  height: 8vh;
  background-color: $offWhite;

  span {
    margin-left: 0.5rem;
  }
}

.categories {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (min-width: 1000px) {
  .categories {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  padding-top: 2rem;
  border: none;
  border-radius: 0;
  text-align: center;

  &-title {
    color: $light-purple;
    font-size: 1.4rem;
    margin-bottom: 0.85rem;
  }

  p {
    @extend .flex-Center;

    font-size: $fz-lg;
    text-transform: uppercase;
    color: $purple;
  }
}

.lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.2rem 0.85rem;
  max-width: 1050px;
  margin: 5rem auto 1.5rem;
  padding: 0 1.2rem;

  h4 {
    grid-column: 1 / -1;
    margin-bottom: 1.5rem;
    letter-spacing: -0.5px;
    text-align: start;
  }

  li {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    background-color: $offWhite;
    border-radius: 0 0.25rem 0;

    &:hover {
      box-shadow: 0 0.35rem 0.75rem $light-purple;
    }
  }
}

.list {
  @extend .flex-Between;

  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
  color: $purple;

  &__icon {
    font-size: calc(1.355rem + 0.9vw);
  }

  &__name {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 0;
    margin-top: -5px;
    border-radius: 0 0.25rem 0;

    @extend .bg-lightPurple;

    &:hover {
      @extend .bg-darkPurple;
    }
  }
}

.tracker {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;

  h3 {
    font-weight: 600;
    color: $purple;
  }
}

.actions {
  @extend .flex-Between;

  margin-bottom: 1rem;

  button {
    display: flex;
    align-items: center;

    @extend .bg-lightPurple;

    letter-spacing: -0.8px;

    &:hover {
      @extend .bg-darkPurple;
    }
  }
}

.outcome {
  padding: 1rem;

  h3 {
    color: $purple;
    letter-spacing: -0.75px;
    font-weight: 600;
  }

  div {
    margin: 1rem auto;
  }
}

.user {
  height: 100vh;

  section { height: 50%; }

  &__info {
    @extend .flex-Center;

    background-color: $offWhite;
    color: $purple;

    p {
      text-align: center;
      font-weight: 700;
    }

    span { font-size: 1.5rem; }

    small {
      color: $light-purple;
    }
  }

  &__avatar {
    margin-bottom: 1rem;
    border: 0.5rem solid $light-purple;
    border-radius: 100%;
    font-size: 9rem;
  }

  &__editor {
    margin: 0;
    padding-top: 2rem;
    background-color: $smoke;

    h4 {
      font-size: 1.5rem;
      color: $light-purple;
      text-align: center;
    }

    form {
      max-width: 500px;
      margin: 2rem auto;
    }
  }
}
