@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'shared';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $fontPoppins;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

p { margin-bottom: 0; }

ul {
  list-style: none;
  padding: 0 0.5rem;

  li { max-width: 380px; }
}

button[type=submit] {
  @extend .color-mix;

  &:hover {
    @extend .color-mix-one;
  }
}

.home {
  @extend .center;

  flex-direction: column;
  min-height: 100vh;
  background-color: $smoke;
  color: $purple;
}

.home-btn {
  width: 250px;
  margin-bottom: 1rem;
  border: 1px solid $purple;
  border-radius: 20rem;

  &:first-of-type {
    @extend .color-mix;
  }

  &:hover {
    @include transform;
  }
}

.brand {
  margin-bottom: 1.5rem;
  text-align: center;

  h1,
  p {
    margin-bottom: 1rem;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.page-loading {
  text-align: center;
  animation: spin 1.5s linear infinite;
  font-size: 300%;
}

header {
  @extend .center;

  height: 8vh;
  background-color: $smoke;
  border-bottom: $dark-border;
}

.wrap-theme {
  @extend .center;

  justify-content: space-between;
  margin-bottom: 0;

  a { color: $black; }
}

.theme {
  font-size: calc(1.3rem + 0.6vw);
  text-align: center;
}

.theme,
.form-label {
  font-weight: bold;
}

.wrap-page {
  height: 82vh;
  overflow-y: scroll;

  form {
    @extend .center;

    input {
      width: 200px;
    }
  }

  h3 {
    margin: 1rem 0;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .wrap-page form {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  padding-top: 2rem;
  border: none;
  border-radius: 0;
  text-align: center;

  p {
    @extend .center;
  }

  .btn {
    @extend .color-mix;

    padding: 0.3rem 0.5rem;
    font-size: 0.65rem;
    margin-right: 0.75rem;
    border: 1px solid $purple;
    transition: transform 0.2s;

    &:hover {
      @extend .color-mix-one;

      transform: scale(1.1);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $orange;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  li {
    max-width: 320px;
  }
}

.lists {
  @extend .grid;

  max-width: 1050px;
  margin: 2rem auto 1.5rem;
  padding: 0 1.2rem;

  h4 {
    grid-column: 1 / -1;
    margin-bottom: 1.5rem;
    letter-spacing: -0.5px;
    text-align: start;
  }

  li {
    padding: 0;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    background-color: $smoke;
  }

  &::after {
    content: '';
    flex: auto;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list-btn {
  min-width: 170px;
  border-radius: 0 0.25rem 0;
  font-weight: 300;
  font-size: 0.7rem;

  @extend .color-mix;
}

.list-name {
  display: flex;
  align-items: center;

  span {
    color: $grey;
  }
}

.cat-editor {
  flex-direction: column;
  padding: 1rem;

  input {
    margin: 0 auto 1.5rem;
  }

  .list-btn {
    &:first-of-type {
      min-width: 120px;
    }

    &:last-of-type {
      min-width: 65px;
    }
  }
}

.edit {
  border-radius: 0 0.25rem 0;
  border: transparent;
  color: $purple;
  font-size: 0.8rem;
}

.track-it {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 1rem;

  .btn-sm {
    display: flex;
    align-items: center;

    @extend .color-mix;

    letter-spacing: -0.8px;

    &:hover {
      @extend .color-mix-one;
    }
  }
}

.all-expenses {
  @extend .grid;

  li {
    background-color: $smoke;
    border: 1px solid $purple;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;

    .details {
      display: flex;
      align-items: flex-end;
    }

    .amount { color: $purple; }

    small {
      color: $grey;
      font-size: 0.7rem;
    }

    .notes { font-size: $fz-sm; }
  }
}

.outcome {
  padding: 1rem;

  h3 {
    letter-spacing: -0.75px;
    font-weight: 600;
  }

  div {
    max-width: 450px;
    margin: 1rem auto;
  }
}

.tool-tip {
  text-align: center;
  color: $grey;
  font-size: $fz-sm;
}

.user-info,
.editor {
  height: 50%;
  overflow-y: scroll;
}

.user-info {
  @extend .center;
  @extend .color-mix-one;
}

.avatar { font-size: 7.5rem; }

.editor {
  margin: 0;
  padding-top: 2rem;
  background-color: $smoke;

  h4 {
    @extend .center;

    text-align: center;
  }

  form {
    flex-direction: column;

    div,
    input {
      width: 100%;
    }
  }
}

.app-nav {
  position: absolute;
  bottom: 1.5rem;
}

.trigger {
  font-weight: bold;
  color: $purple;

  &:hover {
    color: $blue;
  }
}

.bg-purple,
.bg-purple * {
  @extend .color-mix-one;
}

.nav-link {
  &:hover {
    @extend .color-mix;

    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .all-expenses {
    grid-template-columns: repeat(2, 1fr);

    li { max-width: 350px; }
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    li {
      max-width: 100%;
      margin-right: 0;
      grid-column: 1 / -1;
    }
  }

  .all-expenses li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
